@font-face {
  font-family: GothamBold;
  src: url("../../public/static/fonts/Gotham\ Bold.otf");
}

@font-face {
  font-family: ProximaNova;
  src: url("../../public/static/fonts/ProximaNova-Regular.otf");
}

@font-face {
  font-family: Gotham;
  src: url("../../public/static/fonts/Gotham\ Book.otf");
}

.modal {
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-size: 12px;
  background-color: #17171F;
  width: 600px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 .2em .2em #BCB4FF, 0 0 10px #BCB4FF, 0 0 20px #BCB4FF;
}
.modal > .header {
  width: 100%;
  font-size: 18px;
  text-align: center;
  padding-top: 40px;
  font-family: Gotham, sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.modal > .content {
  display: flex;
  width: 100%;
  padding: 0px 5px;
  max-width: 600px;
}

#sub_content_modal_div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.modal_cancel_ride_button {
  position: relative;
  bottom: 47px;
  left: 17px;
  border: 1px solid transparent;
  border-radius: 48px;
  user-select: none;
  min-height: 48px;
  min-width: 150px;
  cursor: pointer;
  appearance: none !important;
  background-color: #07759e;
  font-family: ProximaNova, sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.modal_cancel_ride_button:hover {
  background-color: #00d0ff;
}

#review_rating_div {
  display: flex;
  justify-content: center;
  position: relative;
  left: 20px;
  font-family: ProximaNova, sans-serif;
}

.modal_complete_ride_button {
  position: relative;
  left: 425px;
  border: 1px solid transparent;
  border-radius: 48px;
  user-select: none;
  min-height: 48px;
  min-width: 150px;
  cursor: pointer;
  appearance: none !important;
  background-color: #a99fffde;
  font-family: ProximaNova, sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.modal_complete_ride_button:hover {
  background-color: #BCB4FF;
}

#review_content_input {
  font-family: ProximaNova,sans-serif;
  font-weight: 1000;
  font-size: 16px;
  margin-left: 40px;
  color: #FFFFFF;
  width: 500px;
  height: 120px;
  background-color: #2c2c2f8d;
  border: 1px solid rgba(255, 255, 255, 0.299);
  border-radius: 12px;
  min-width: 80px;
  text-indent: 5px;
  padding: 10px;
  overflow-x: hidden;
  word-wrap:break-word;
  resize: none;
}

#review_rating_input {
  display: flex;
  position: relative;
  left: 195px;
}
