.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev {
  left: 42% !important;
  top: 96% !important;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 32px;
  width: 32px;
  border-radius: 48px;
  border: 1px solid rgba(0, 0, 0, 0.499);
  background-position: center;
  background-image: url("../../public/static/images/arrow-left.svg");

}
.swiper-button-next {
  left: 55% !important;
  top: 96% !important;
  border-radius: 48px;
  border: 1px solid rgba(0, 0, 0, 0.499);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 32px;
  width: 32px;
  background-position: center;
  background-image: url("../../public/static/images/arrow-right.svg");
}

.swiper-button-next:hover {
  background-color: rgba(207, 207, 207, 0.717);
}

.swiper-button-prev:hover {
  background-color: rgba(207, 207, 207, 0.717);
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  position: relative;
  top: 506px;
}
